* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
}

.header {
  text-align: center;
  color: blue;
  max-width: 800px;
  margin: 30px auto;
}

.cards-container {
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: center;
  gap: 30px;
}

.card-item {
  text-align: center;
  background: linear-gradient(#f9f047, #0fd850);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 1em;
  transition: all ease .2s;
  position: relative;
}

.card-item:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.card-item h2 {
  margin-bottom: 20px;
}

.card-item p {
  margin-bottom: 10px;
}

.card-item button {
  height: 20px;
  width: 20px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: .3em;
  right: .3em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.card-item button:hover {
  color: white;
  background-color: red;
}