@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --black: #171717;
  --red: #D83833;
}

body {
  background-color: #E5E5E5;
  font-family: 'Public Sans';
  margin: 0;
}

.container {
  background-color: #F9F9F9;
  max-width: 1000px;
  margin: 0 auto;
  padding: 65px 45px 110px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  margin-bottom: 80px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.wrapper {
  display: flex;
  align-self: center;
  align-items:flex-end;
  width: 100%; 
  gap: 32px;
  margin-bottom: 24px;
}

.inner-wrapper {
  width: 100%;
}

.container>p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 24px;
}

.mandatory-star {
  color: var(--red);
}

label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 8px;
}

input, select {
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 13px;
  padding-right: 13px;
}

select {
  appearance: none;
  background: url('../img/arrow-down-s-line.svg') no-repeat center right 13px;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-self: flex-end;
}

input[type=checkbox] {
  width: 24px;
  accent-color: #FF00FF;
}

input[type=checkbox]+label {
  align-self: center;
  margin: 0;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: #D1D1D1;
  margin-top: 32px;
  margin-bottom: 32px;
}

.search-container {
  color: #555;
  display: flex;
  border: 1px solid currentColor;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 2px;
  height: 40px;
}

input[type='search'] {
  color: #0050D8;
  height: 34px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: white;
  margin: 0;
}

button[type='submit'] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  background: white url("../img/search-line.svg") no-repeat center;
  cursor: pointer;
  opacity: .7;
}

button[type='submit']:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.footer {
  text-align: right;
}

button.next {
  all: unset;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: white;
  padding: 9px 16px;
  background-color: #0050D8;
  border-radius: 4px;
  cursor: pointer;
}

button.next:hover {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}