/* Font-family: 'Inter' */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

.container {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 10px 25px;
  max-width: 866px;
  background-color: white;
}

h1, h2, h3 {
  font-weight: 400;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
  height: 20px;
}

table {
  width: 100%;
}