@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto';
  margin: 0 auto;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 50px;
  text-align: center;
}

.widget {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  color: white;
  width: 80vw;
  max-width: 600px;
  height: fit-content;
  padding: 3rem;
  background-color: #000450;
  border-radius: 1rem;
}

.widget__header {
  display: block;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.widget__calc-field {
  display: flex;
  height: 70px;
  background-color: white;
  border-radius: .5rem;
  margin-bottom: 30px;
}

.widget__calc-field-numb {
  position: relative;
}

select {
  font-weight: 400;
  font-size: 1rem;
  color: #1d1f20;
  height: 100%;
  width: 40%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("./chevron-down-solid.svg") no-repeat right 1rem top 50%;
  background-size: 12px;
  padding: 1rem;
  border: none;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

label[for="calculator-ask"] {
  position: absolute;
  left: 2rem;
  top: .5rem;
  display: inline-block;
  font-size: .75rem;
  color: #5d5f61;
  z-index: 9;
}

input[type="number"] {
  font-weight: 600;
  font-size: 1.25rem;
  height: 100%;
  width: 100%;
  padding: 26px 32px 14px;
  border: none;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]:focus,
select:focus {
  outline: 4px solid #0022ef40;
}

.widget__calc-field-numb {
  width: 60%;
}

button {
  box-sizing: border-box;
  width: min-content;
  height: min-content;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

button:hover img{
  transform: rotate(720deg);
  transition: 1s;
}