/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E3F2FD;
}

.accordion,
.accordion-1 {
  max-width: 530px;
  width: 100%;
  background-color: #FFF;
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content,
.accordion-1 .accordion-content-1 {
  margin: 10px 0;
  border-radius: 4px;
  background-color: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
}

.accordion-content.open,
.accordion-content-1.open {
  padding-bottom: 10px;
}

.accordion-content header,
.accordion-content-1 header {
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  transition: all .2s linear;
}

.accordion-content.open header,
.accordion-content-1.open header {
  min-height: 35px;
}

.accordion-content header .title,
.accordion-content-1 header .title {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.accordion-content header,
.accordion-content-1 header {
  font-size: 15px;
  color: #333;
}

.accordion-content .description,
.accordion-content-1 .description-1 {
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all .2s linear;
}