@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  --white: #FFFFFF;
  --goldish: #FFB742;
  --black: #212529;
}

body {
  background-color: #212529;
  color: var(--white);
  /* padding-top: 17px; */
}

.navbar, main, .footer {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1380px;
}

ul, li, a, p, h1, h2 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* HEADER starts here */
header {
  background-color: #212529;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 17px;
  padding-bottom: 17px;
  transition: padding .3s;
}

/* styles for sticky header when scrolling */
.active {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  transition: all .3s;
  padding: 0;
}

.navbar {
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  column-gap: 2em;
}

.navbar img {
  display: block;
  margin-left: -12px;
}

.navbar ul a {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

.navbar ul a:hover {
  color: var(--goldish);
  transition: all .2s;
}

.hire-me-btn {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: var(--black);
  padding: 12px 26px;
  background-color: var(--goldish);
  border-radius: 50px;
  cursor: pointer;
}

.hire-me-btn:hover {
  background-color: #ffcd42;
  transition: all .5s;
}

/* MAIN section starts here */
main {
  margin-top: 178px;
}

.hero {
  font-family: 'Inter';
  text-align: center;
  margin-bottom: 221px;
}

h2 {
  font-size: 2em;
  margin-bottom: 25px;
}

h2 span {
  color: var(--goldish);
  border-bottom: 2px solid var(--goldish);
}

h1 {
  font-weight: 700;
  font-size: 3em;
  line-height: 189%;
  margin-bottom: 25px;
}

.hero > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 211%;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.hero > img {
  margin-bottom: 136px;
}

.card-box {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.card-box .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292B2E;
  border-radius: 10px;
  width: 415px;
  padding: 28px 30px;
}

.card-box .card:hover {
  background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card-box .card:hover p {
  color: var(--black);
}

.card p:first-child {
  font-weight: 700;
  font-size: 2.5em;
  color: var(--goldish);
}

.card p:last-child {
  font-weight: 700;
  font-size: 1em;
  color: var(--white);
}

.card img {
  cursor: pointer;
}

/* User info section */
.user-info {
  font-family: 'Poppins';
}

.user-info .article-head {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 150%;
  color: var(--goldish);
  padding: .3em 1.25em;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  display: inline-block;
  margin-left: -.3em;
  margin-bottom: 10px;
}

.user-info .subhead {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

.user-info .description {
  font-size: 1em;
  line-height: 188%;
  margin-bottom: 55px;
}

.user-info .hire-me-btn {
  padding-left: 2.2em;
  padding-right: 2.2em;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  column-gap: 85px;
  margin-bottom: 20px;
}

.about-me img {
  width: 50%;
  margin-top: 1.7em;
}

.my-skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 100px;
  margin-bottom: 136px;
}

.my-skills .container {
  max-width: 55%;
}

.my-skills-list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
  grid-template-rows: repeat(2, 80px);
  gap: 1em;
  justify-content: flex-end;
}

.my-skills-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383E45;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.my-skills-list a:hover {
  background-color: rgba(255, 183, 66, 0.5);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* My work article starts here */
.my-works {
  text-align: center;
  margin-bottom: 136px;
}

.my-works ul {
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  column-gap: 1.5em;
  margin-bottom: 48px;
}

.my-works li {
  font-weight: 600;
  font-size: 1em;
  line-height: 188%;
  padding: .4em 1.25em;
  cursor: pointer;
}

.my-works li:hover {
  color: #212529;
  background-color: var(--goldish);
  border-radius: 3px;
  transition: all .4s;
}

.grid {
  display: grid;
  grid-template-areas: "large1 small2 large3"
                       "large1 large5 large3"
                       "small4 large5 small6";
  gap: 27px;
  margin: 0 auto;
  width: fit-content;
  overflow-y: auto;
}

.pic-1 {
  grid-area: large1;
}

.pic-2 {
  grid-area: small2;
}

.pic-3 {
  grid-area: large3;
}

.pic-4 {
  grid-area: small4;
}

.pic-5 {
  grid-area: large5
}

.pic-6 {
  grid-area: small6;
}

/* TESTIMONIALS article starts here */
.testimonials {
  font-family: 'Poppins';
  text-align: center;
  margin-bottom: 250px;
}

.testimonials ul {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 70px;
  text-align: left;
}

.testimonials ul li {
  color: #000000;
  background-color: var(--white);
  padding: 51px 51px 49px 33px;
  max-width: 380px;
  box-sizing: border-box;
  border-radius: 8px;
}

.stars-box {
  margin-bottom: 21px;
}

.testimonials .item-text {
  font-size: 1.25em;
  line-height: 170%;
  margin-bottom: 37px;
}

.testimonials .wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.testimonials .inner-wrapper p:first-child {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 10px;
}

/* FOOTER starts  here */
footer {
  font-family: 'Work Sans';
  background-color: #1C1C1C;
  padding-top: 148px;
  padding-bottom: 80px;
}

.footer {
  display: flex;
  justify-content: space-between;
  column-gap: 4em;
}

.left-col {
  max-width: 250px;
}

.footer .left-col p:first-child {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2em;
  color: var(--goldish);
  margin-bottom: 30px;
}

.footer .left-col p:last-child {
  font-weight: 600;
  font-size: 1em;
  color: #d4d4d4;
  line-height: 2em;
}

.useful-links, .social-media {
  width: 150px;
}

.footer-box p:first-child {
  font-weight: 700;
  font-size: 1.35em;
  line-height: 2em;
  color: #F5FBF2;
  margin-bottom: 15px;
}

.footer-box a {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 202%;
  color: #7B7B7B;
}

.footer-box a:hover {
  color: var(--goldish);
}

.newsletter {
  max-width: 320px;
}

.newsletter p:last-child {
  font-weight: 500;
  font-size: 1.125em;
  color: #7B7B7B;
  line-height: 202%;
}