@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Variables ===== */

:root {
  --body-color: #E4E9F7;
  --sidebar-color: #FFFFFF;
  --primary-color: #695CFE;
  --purple: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #7C7C7A;

  --tran-02: all .2s ease;
  --tran-03: all .3s ease;
  --tran-04: all .4s ease;
  --tran-05: all .5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
}

.sidebar .text,
.search-box input::placeholder,
.search-box input:focus {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.sidebar .image span {
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: var(--purple);
  width: 44px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar header {
  margin-bottom: 46px;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  font-size: 16px;
}

.header-text .email {
  font-size: 14px;
  font-weight: 400;
  margin-top: -2px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 20px 14px;
  background-color: var(--sidebar-color);
  transition: var(--tran-05);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 44px;
  height: 44px;
  border-radius: 8px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -26px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  transition: var(--tran-03);
  cursor: pointer;
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
  transition: var(--tran-04);
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon,
.sidebar li .text,
.search-box input::placeholder {
  color: var(--text-color);
  transition: var(--tran-04);
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  min-width: 60px;
}

.sidebar .search-box {
  background-color: var(--primary-color-light);
  border-radius: 8px;
}

.sidebar .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color-light);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
  width: 100%;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px - 46px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  border-radius: 8px;
  position: relative;
}

.menu-bar .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
}

/* ===== Toggle switch CSS ===== */

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 60px;
  border-radius: 8px;
}

.toggle-switch .switch {
  position: relative;
  height: 20px;
  width: 35px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch::before {
  content: '';
  background: url('./img/lightmode-on.svg') 2px center no-repeat;
  box-shadow: 0 0 2px 0 #00000015;
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  cursor: pointer;
  transition: var(--tran-04);
}

/* ===== Dark Mode ===== */

body.dark {
  --body-color: #18191A;
  --sidebar-color: #242625;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --toggle-color: #FFF;
  --text-color: #CCC;
  --purple: #A492FF;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

body.dark .switch {
  background-color: var(--primary-color);
}

body.dark .switch::before {
  background: url('./img/darkmode-on.svg') 2px center no-repeat var(--sidebar-color);
  left: 17px;
  transition: var(--tran-04);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

/* ===== Close sidebar menu ===== */

.close {
  width: 88px;
}

.sidebar.close .text,
.sidebar.close .menu-bar .moon-sun {
  opacity: 0;
  transition: var(--tran-04);
}

.close .menu-bar .moon-sun {
  opacity: 0;
  transition: var(--tran-04);
}