* {
  font-family: 'Poppins';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin-bottom: 50px;
}

.wrapper {
  width: 400px;
  height: auto;
  border: 3px solid green;
  padding: 20px;
}

.header {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form__input label {
  font-size: 14px;
}

.form__input input {
  width: 70%;
}

.form__input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 100px;
}

input[type=button] {
  font-weight: 600;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(violet, lightblue);
  cursor: pointer;
}

input[type=button]:hover {
  background: rgb(168, 102, 230);
}

input[type=button]:active {
  background: blueviolet;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
  margin-bottom: 50px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 15%;
  text-transform: capitalize;
}

th {
  background-color:aliceblue;
}

h3 {
  font-size: 20px;
  color: green;
  margin-bottom: 20px;
}

.devTool {
  margin-bottom: 40px;
}

.devToolBtn {
  font-size: 10px;
  background: green !important;
}

.showResult {
  font-size: 12px;
}