@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --blue: #4743E0;
  --grey: #404040;
}

body {
  font-family: "Roboto";
}

section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

p, button, .radio {
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.25px;
}

.header-wrapper {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.member {
  color: var(--blue);
}

img {
  cursor: pointer;
}

.main {
  display: flex;
  align-self: center;
  flex-basis: 60%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 126%;
  color: #42505C;
  margin-right: 80px;
}

.header p {
  color: var(--grey);
}

.horizontal-line {
  margin: 0 auto;
  border-bottom: 1px dashed #000000;
  opacity: .2;
  margin-top: 42px;
  margin-bottom: 35px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 27px 20px;
}

.input-wrapper {
  width: 48%;
}

.input-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.input-wrapper p {
  font-size: 12px;
  line-height: 233%;
  color: #333333;
}

label {
  font-size: 12px;
  line-height: 233%;
  color: #333333;
}

.radio {
  color: black;
  opacity: .4;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  height: 48px;
  width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box input {
  display: none;
}

input:checked + .radio{
  color: var(--blue);
  opacity: 1;
  border: 1px solid #4743E0;
  box-shadow: 0px 0px 14px rgba(71, 67, 224, 0.2);
}

label span {
  color: #333333;
  opacity: .34;
}

a {
  font-weight: 700;
  color: var(--blue);
  text-decoration-line: none;
}

input {
  font-size: 14px;
  line-height: 0;
  color: #000000;
  padding: 15px 17px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #D1D1D1;
}

input::placeholder {
  opacity: .4;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
  outline: none;
	content: none;	
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  vertical-align: middle;
  margin-right: 10px;
}

button {
  font-weight: 700;
  color: white;
  background-color: var(--blue);
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 5px 0px #4743E0;
}

.bg-container {
  background-color: #F9FAFF;
  height: 100vh;
  flex-basis: 40%;
  position: relative;
}

.bg-container img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}