.dropdown-wrapper {
  .select-btn,
  .options li {
    line-height: 50px;
    cursor: pointer;
  }

  .heading {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    i {
      font-size: 1.5rem;
    }
  }

  .select-btn {
    font-size: 1.8rem;
    border-radius: 7px;
    background-color: var(--white);

    &.black::placeholder {
      color: var(--black);
    }
  }

  .content {
    margin-top: 15px;
    border-radius: 7px;
    background-color: var(--white);

    .search {
      position: relative;
    }

    .options {
      max-height: 250px;
      overflow-y: auto;
      display: none;

      &.active {
        display: block;
        box-shadow: var(--box-shadow);
      }

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 25px;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 25px;
      }
    }
  }

  .search {
    i {
      font-size: 20px;
      line-height: 53px;
      color: #999;
      left: 15px;
      position: absolute;
    }

    input {
      font-size: 17px;
      height: 53px;
      width: 100%;
      background: url('../img/chevron-down.svg') center right 15px no-repeat;
      background-size: 1.5rem;
      outline: none;
      padding: 0 15px 0;
      border: 1px solid var(--light-bg);
      box-sizing: border-box;
      cursor: unset;
    }
  }

  .options {
    li {
      font-size: 1.5rem;
      height: 50px;
      padding: 0 13px;
      border-radius: 5px;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
