.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.hamburger-menu {
  display: none;
}

.header-left-row {
  display: none;
}

.header__logo {
  font-size: 2.5rem;
  color: var(--red);
}

.header__nav-item {
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);
  margin: 0 1rem;
  transition: var(--tran-02);
  cursor: pointer;
}
.header__nav-item:hover {
  color: var(--red);
  text-decoration: underline;
}

.header__icons {
  display: flex;
  align-items: center;
}
.header__icons div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1.7rem;
  cursor: pointer;
}
.header__icons div:last-child {
  position: relative;
}
.header__icons i {
  font-size: 2.5rem;
  color: var(--light-color);
}
.header__icons i:hover {
  color: var(--red);
  transition: var(--tran-02);
}
.header__icons .quantity {
  position: absolute;
  bottom: -8px;
  display: inline-block;
  width: 20px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
    width: 40px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  }
  .hamburger-menu .bar, .hamburger-menu::before, .hamburger-menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--light-color);
    margin: 6px 0px;
    transition: 0.4s;
  }
  .hamburger-menu.active::before {
    transform: rotate(-45deg) translate(-5px, 8px);
  }
  .hamburger-menu.active::after {
    transform: rotate(45deg) translate(-4px, -8px);
  }
  .hamburger-menu.active .bar {
    opacity: 0;
  }
  .mobile-nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    opacity: 90%;
    z-index: 98;
    padding: 130px 20px;
    box-sizing: border-box;
    transition: 0.4s;
  }
  .mobile-nav.active {
    display: block;
    left: 0;
    overflow: hidden;
    transition: 0.4s;
  }
  .mobile-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .mobile-nav nav a {
    margin-bottom: 40px;
  }
  .header__nav-item {
    font-size: 3rem;
  }
  .header-left-row {
    flex: 0 0 25%;
    display: flex;
    justify-content: flex-start;
  }
  .header-center-row {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
  }
  .header-right-row {
    flex: 0 0 25%;
    display: flex;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=header.css.map */