.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.hamburger-menu {
  display: none;
}

.header-left-row {
  display: none;
}

.header__logo {
  font-size: 2.5rem;
  color: var(--red);
}

.header__nav-item {
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);
  margin: 0 1rem;
  transition: var(--tran-02);
  cursor: pointer;

  &:hover {
    color: var(--red);
    text-decoration: underline;
  }
}

.header__icons {
  display: flex;
  align-items: center;

  div {
    width: fit-content;
    margin-left: 1.7rem;
    cursor: pointer;

    &:last-child {
      position: relative;
    }
  }

  i {
    font-size: 2.5rem;
    color: var(--light-color);

    &:hover {
      color: var(--red);
      transition: var(--tran-02);
    }
  }

  .quantity {
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 20px;
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 768px) {
  // hamburger menu design
  .hamburger-menu {
    display: block;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  
    .bar, &::before, &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--light-color);
      margin: 6px 0px;
      transition: .4s;
    }
  }
  .hamburger-menu.active::before {
    transform: rotate(-45deg) translate(-5px, 8px);
  }
  .hamburger-menu.active::after {
    transform: rotate(45deg) translate(-4px, -8px);
  }
  .hamburger-menu.active .bar {
    opacity: 0;
  }
  // hamburger menu design ends here

  .mobile-nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    opacity: 90%;
    z-index: 98;
    padding: 130px 20px;
    box-sizing: border-box;
    transition: .4s;
    
    &.active {
      display: block;
      left: 0;
      overflow: hidden;
      transition: .4s;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      float: none;
      width: fit-content;
      margin: 0 auto; 
      a {
        margin-bottom: 40px;
      }
    }
  }

  .header__nav-item {
    font-size: 3rem;
  }

  .header-left-row {
    flex: 0 0 calc(100% / 4);
    display: flex;
    justify-content: flex-start;
  }

  .header-center-row {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
  }

  .header-right-row {
    flex: 0 0 calc(100% / 4);
    display: flex;
    justify-content: flex-end;
  }
}