@import url('./custom.css');
@import url('./header.css');
@import url('./cart.css');
@import url('./custom-quantity-btn.css');
@import url('./custom-quantity-btn.css');

// Btn back to top
#btn-back-to-top {
  font-size: 2rem;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--white);
  background-color: var(--red);
  opacity: 0.7;
  border-radius: 50%;
  transition: var(--tran-02);

  &.hidden {
    opacity: 0;
    transition: var(--tran-02);

    &:hover {
      opacity: 0;
      animation: none;
    }
  }

  &:hover {
    opacity: 1;
    animation: moveArrow 1s alternate-reverse infinite;
  }

  @media only screen and (max-width: 768px) {
    font-size: 2rem;
    width: 40px;
    height: 40px;
  }
}

// Home section
.home-bg {
  background: url("../img/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.home__slide-container {
  margin-top: 12rem;
}

.home__slide {
  display: none;
  align-items: center;
  gap: 1.5rem;

  &.active {
    display: flex;
  }
}

.home__slide-image {
  flex: 1 1 40rem;
  animation: fadeRight .4s linear;

  img {
    width: 100%;
  }
}

.home__slide-content {
  flex: 1 1 40rem;
  text-align: center;
  animation: fadeLeft .4s linear;

  h3 {
    font-size: 7.5rem;
    line-height: 1;
    color: var(--white);
    text-shadow: var(--box-shadow);
    margin-bottom: 3rem;
  }

  button {
    height: 5rem;
    width: 5rem;
    background-color: var(--white);
    border: none;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin: 0 .5rem;
    cursor: pointer;
    transition: var(--tran-02);

    &:hover {
      background-color: var(--red);
      transition: var(--tran-02);
    }

    &:hover .fa-solid {
      color: var(--white);
      transition: var(--tran-02);
    }

    .fa-solid {
      font-size: 2rem;
      color: var(--black);
      transition: var(--tran-02);
    }
  }
}

// About section
.section-heading {
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.box {
  padding: 2rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 1rem;
  transition: var(--tran-02);

  img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.about__box {
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .1);
}

.about__box-heading {
  font-size: 2.5rem;
  color: var(--black);
}

.about__box-description {
  font-size: 1.6rem;
  color: var(--blacks);
  line-height: 2;
  padding: 1rem 0;
}

// Menu Section
.menu__box {
  position: relative;
  border: 1px solid var(--light-bg);
  &:hover {
    box-shadow: var(--hover-box-shadow);
    transform: scale(1.01);
  }
  .price {
    font-size: 1.7rem;
    color: var(--white);
    padding: .5rem 1rem;
    background-color: var(--black);
    border-radius: .5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    span {
      font-size: 2.5rem;
    }
  }

  .btn-group {
    display: flex;
    gap: 2rem;
    .size-btn {
      font-size: 1.5rem;
      color: var(--light-color);
      width: 50%;
      padding: 1rem;
      background-color: transparent;
      border: 1px solid var(--light-color);
      border-radius: .5rem;
      cursor: pointer;
      &.active {
        color: var(--white);
        background-color: var(--light-color);
      }
    }
  }

  .add-to-cart-btn {
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--white);
    line-height: 130%;
    text-transform: capitalize;
    background-color: var(--red);
    cursor: pointer;
    transition: var(--tran-02);

    &:hover {
      background-color: var(--black);
      transition: var(--tran-02);
    }
  }
}

.menu__box-heading {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.menu__box-ingredients {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

// Pizza constructor
.pizza-constructor {
  .buttons {
    display: flex;
    gap: 2rem;
    
    button {
      font-size: 1.5rem;
      color: var(--white);
      text-transform: capitalize;
      background-color: var(--red);
      border: none;
      border-radius: .5rem;
      width: 13rem;
      padding: 2rem;
      cursor: pointer;
      transition: var(--tran-02);

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .constructor-total-price {
    font-size: 2rem;

    span {
      font-size: 2rem;
      font-weight: 700;
    }
  }
  
  .checkbox {
    position: relative;
    width: 10rem;
    height: 7rem;
    margin: 5px;
    border: 2px solid var(--red);
    box-sizing: border-box;
  }

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100%;

    @media only screen and (max-width: 767px) {
      gap: 4rem;
      margin-bottom: 4rem;
    }
  }

  .constructor-row {
    height: 100%;
    border-radius: 1rem;
    background-color: #bd2e1e48;
    padding: 2rem;

    h3 {
      font-size: 2.5rem;
      text-align: center;
      height: max-content;
      margin-bottom: 2rem;
    }

    .constructor-block {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      img {
        width: 8rem;
        margin-bottom: 1rem;
      }
    }

    label {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: .5rem;
      box-sizing: border-box;
      padding: 1rem;
      transition: var(--tran-03);
    }

    span {
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      margin-top: 1rem;
    }
  }

  .label {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: 1rem;
    transition: var(--tran-03);
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      padding: 1rem 5rem;
    }
    @media only screen and (max-width: 575px) {
      padding: 1rem 3rem;
    }
  }

  .label:hover,
  .label.active {
    color: var(--white);
    background-color: var(--red);
  }

  span {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
  }

  &.choose-size-block {
    grid-row: 1;
    grid-column: 2;
  }
  
  &.choose-sauce-block {
    grid-row: 1;
    grid-column: 3;
  }
  
  .sauce-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .sauce {
      cursor: pointer;
    }

    img {
      border: 1px solid red;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      box-sizing: border-box;
      margin-bottom: 1rem;
    }
  }

  input {
    display: none;
    &:checked ~ label {
      color: var(--white);
      background-color: var(--red);
    }
  }

  .choose-ingredients-block {
    grid-row: 2;
    grid-column: 2/4;
  }

  .current-pizza {
    position: relative;
    // width: 35rem;
    // height: 35rem;
    // border: 1px solid red;
  }
  
  .pizza-basement {
    img {
      width: 100%;
      max-width: 400px;
    }
  }
  
  .current-pizza-item {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
    }

    &.active {
      display: block;
    }
  }

  .price {
    font-size: 1.7rem;
    color: var(--black);
    text-align: center;
    padding: .5rem 1rem;
    border-radius: .5rem;
    top: 1rem;
    left: 1rem;
    span {
      font-size: 2.5rem;
    }
  }

  .ingredients-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    label {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .custom-input {
    width: fit-content;
    margin: 0 auto;
  }
}

// FAQ Section
.faq {
  .accordion {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .accordion-content {
    margin: 1.5rem 0;
    box-shadow: var(--box-shadow);
    transition: var(--tran-02);
  }
  
  .accordion-content.open {
    .fa-solid {
      transform: rotate(180deg);
    }
  }
  
  .accordion-title {
    font-size: 2rem;
    color: var(--white);
    padding: 1.5rem;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .fa-solid {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      line-height: 150%;
      transition: var(--tran-05);
    }
  }
  
  .accordion-list {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    background-color: var(--white);
    box-sizing: content-box;
    transition: var(--tran-05);
  }
  
  .accordion-content.open .accordion-list {
    padding: 2rem;
  }
  
  .accordion-content.open .accordion-title {
    background-color: var(--red);
    transition: var(--tran-02);
  }
}

// Footer section
.footer {
  h4 {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
  }

  i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--red);
    border-radius: 50%;
    margin-bottom: .5rem;
  }

  a, p {
    font-size: 1.6rem;
    width: fit-content;
    color: var(--light-color);
    line-height: 2;
    display: block;
    margin: 0 auto;
  }
}

.footer__box-container {
  align-items:stretch;
}


// Animations
@keyframes fadeRight {
  0% {
    transform: translateX(-5rem);
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(5rem);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1020px) and (min-width: 769px) {
  // Home section
  .home-bg {
    background: url("../img/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .home__slide-container {
    margin-top: 12rem;
  }

  .home__slide-image {
    flex: 1 1 40rem;
    animation: fadeRight .4s linear;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }
  }

  .home__slide-content {
    flex: 1 1 40rem;
    text-align: center;
    animation: fadeLeft .4s linear;

    h3 {
      font-size: 7.5rem;
      line-height: 1;
      color: var(--white);
      text-shadow: var(--box-shadow);
      margin-bottom: 3rem;
    }

    button {
      height: 5rem;
      width: 5rem;
      background-color: var(--white);
      border: none;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      margin: 0 .5rem;
      cursor: pointer;
      transition: var(--tran-02);

      &:hover {
        background-color: var(--red);
        transition: var(--tran-02);
      }

      &:hover .fa-solid {
        color: var(--white);
        transition: var(--tran-02);
      }

      .fa-solid {
        font-size: 2rem;
        color: var(--black);
        transition: var(--tran-02);
      }
    }
  }
}

@media only screen and (max-width: 768px) {

}
