@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/* HEADER */

body {
  font-family: 'Inika', sans-serif;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-left {
  font-family: 'M PLUS 1';
  font-size: 48px;
  letter-spacing: 10%;
  color: #3E45E8;
}

.title-right {
  font-family: 'M PLUS 1';
  color: #E8C23E;
}

/* MAIN */

.bg-img-container {
  background: url('../img/main/nature-4.jpeg'), rgba(20, 18, 18, 0.7) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 803px;
  padding-top: 157px;
  padding-left: 118px;
  margin-bottom: 72px;
  position: relative;
}

.bg-img-container::before {
  content: '';
  position: absolute;
  background: rgba(20, 18, 18, 0.7);
  width: 100%;
  height: 803px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

pre {
  font-family: 'Inika', sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 157%;
  color: #ffffff;
}

pre::before {
  content: '';
  position: absolute;
  background-color: #1E8DF2;
  filter: brightness(60%);
  width: 22px;
  height: 136px;
  left: -40px;
  top: 10px;
}

pre::after {
  content: '';
  position: absolute;
  background-color: #FBE201;
  filter: brightness(60%);
  width: 22px;
  height: 136px;
  left: -40px;
  top: 146px;
}

.cards-container {
  max-width: 1440px;
  margin: 0 auto;
}

.cards-container h2 {
  font-size: 40px;
  position: relative;
  margin-bottom: 65px;
  margin-left: 80px;
}

.cards-container h2::after {
  position: absolute;
  content: '';
  width: 402px;
  height: 5px;
  background-color: #3E45E8;
  left: 0;
  top: 70px;
}

.cards-container ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 74px;
}

.cards-container li {
  border-radius: 30px;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.25);
}

.cards-container img {
  border-radius: 30px 30px 10px 10px;
  margin-bottom: 20px;
}

.cards-container h3 {
  font-weight: bold;
  font-size: 24px;
  color: #1E8DF2;
  margin-left: 10px;
  margin-bottom: 20px;
}

.cards-container p {
  font-size: 20px;
  color: #E8C23E;
  margin-left: 10px;
  margin-bottom: 55px;
}

.support-section {
  text-align: center;
  padding-bottom: 21px;
}

.support-section h2 {
  font-size: 40px;
  margin-bottom: 62px;
  display: inline-block;
  position: relative;
}

.support-section h2::after {
  content: '';
  position: absolute;
  width: 402px;
  height: 5px;
  background-color: #3E45E8;
  left: 86px;
  top: 70px;
}

.btn-support {
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
  border: none;
  background-color: #2A61F0;
  width: 590px;
  height: 120px;
  cursor: pointer;
  margin-top: 41px;
}

.btn-support:hover {
  background-color: #2011ed;
  transition: ease-in .1s;
}

footer {
  background-color: #2F4A4B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 27px;
}

footer p {
  margin-top: 10px;
  margin-bottom: 31px;
}

footer .title-right {
  color: #DFE31E;
}

footer .contact {
  font-family: 'Marcellus SC';
  font-size: 36px;
  letter-spacing: 10%;
  color: #A89D9D;
  margin-bottom: 21px;
  cursor: pointer;
}

footer .contact:hover {
  color: rgba(198, 187, 187, 0.941);
  transition: ease-in .1s;
}

.social-media-flex {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-media-flex a {
  display: flex;
  align-items: center;
}