* {
  margin: 0;
  padding: 0;
}

.form__header {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.form__typeOfDebt-wrapper,
.form__typeOfCreditor-wrapper {
  display: flex;
  gap: 40px;
}

.hide {
  display: none !important;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.form {
  width: 400px;
  background-color: white;
}

form > div {
  padding: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

#debt {
  width: ;
}

#debt::-webkit-outer-spin-button,
#debt::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="text"] {
  width: 225px;
}

.form__footer input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: chartreuse;
  cursor: pointer;
}