body {
  background-color: green;
}

img {
  position: absolute;
  top: 50vh;
  left: 50%;
  z-index: 100;
  width: 50px;
}

.score {
  width: 80px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gate {
  width: 100px;
  height: 50vh;
  border: 5px solid black;
}