:root {
  --orange: #f1a33c;
  --orangeHover: #f3c995;
  --lightgrey: #a5a5a5;
  --lightgreyHover: #d9d9d9;
  --grey: #333333;
  --greyHover: #737373;

  --tran-04: all .4s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100% !important;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 280px;
}

img {
  height: 10px;
}

.container {
  width: 312px;
  height: 675px;
  background-color: black;
  padding: 30px 16px;
  position: relative;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: 39%;
}

.result span {
  font-weight: normal;
  margin-right: 8px;
  font-size: 80px;
  justify-self: flex-end;
}

.buttons {
  width: fit-content;
  height: fit-content;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 28px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: var(--tran-04);
}

.lightgrey {
  font-size: 22px;
  background-color: var(--lightgrey);
  color: black;
}

.lightgrey:hover {
  background-color: var(--lightgreyHover);
}

.number {
  background-color: var(--grey);
}

.number:hover {
  background-color: var(--greyHover);
}

.operation,
.equals {
  background-color: var(--orange);
}

.operation:hover,
.equals:hover {
  background-color: var(--orangeHover);
}

.span-two {
  grid-column: span 2;
  width: 100%;
  border-radius: 135px;
  justify-content: start;
  padding-left: 23px;
}

.exit {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 4px;
  background-color: white;
  border-radius: 50px;
}