#body {
  max-width: 800px;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  text-align: center;
}
thead {
  background: green;
}

th {
  font-size: 1em;
  color: white;
  padding: 8px;
  border: 1px solid #d7d7d7;
}

td {
  padding: 8px;
  border: 1px solid #d7d7d7;
}

td.align-left {
  text-align: left;
  width: 250px;
}

tbody tr:hover {
  background: lightgreen;
  transition: all .4s;
}