@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* ===== COLORS ===== */
  --white: #FFFFFF;
  --black: #000000;
  --grey: #CCCCCC;
  --blue: #95CFD5;
  --red: #C42129;
  --pink: #E0ADC5;
  --beige: #F5C7B3;

  /* ===== Transitions ===== */
  --tran-02: all .2s;
  --tran-03: all .3s;
  --tran-04: all .4s;
  --tran-05: all .5s;
  --tran-10: all 1s;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Poppins';
}

ul, li, a, h1, h3, p {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.header__container {
  max-width: 1440px;
  height: 70px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  /* border: 1px solid red; */
}

/* ===== Primary nav CSS ===== */

.primary-nav {
  height: 70px;
  background-color: var(--white);
}

.primary-nav__list {
  display: flex;
  column-gap: 8vw;
}

.primary-nav__subhead {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  align-items: center;
  height: 70px;
}

.primary-nav__subhead:hover,
.primary-nav__subhead.open {
  border-bottom: 4px solid var(--black);
  box-sizing: border-box;
  cursor: pointer;
}

.primary-nav .fa-chevron-right {
  display: none;
}

.primary-nav-left,
.primary-nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.primary-nav-left {
  display: none;
}

/* ===== Secondary nav CSS ===== */
.secondary-nav.open {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: #00000030;
  transition: var(--tran-04);
}

.secondary-nav__inner {
  position: absolute;
  top: -100vh;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  column-gap: 5vw;
  min-width: 700px;
  max-width: 1200px;
  width: fit-content;
  height: auto;
  min-height: 350px;
  padding: 40px 75px;
  background-color: var(--white);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  z-index: 39;
  transition: var(--tran-10);
}

.secondary-nav__inner--mod {
  column-gap: 3vw;
  padding: 40px 30px;
}

.secondary-nav.open .secondary-nav__inner {
  top: 86px;
  transition: var(--tran-05);
}

.secondary-nav__subhead {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
}

.secondary-nav__subhead-show {
  display: none;
}

.secondary-nav__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  cursor: pointer;
}

.secondary-nav__content-header {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.secondary-nav__content-desc {
  font-size: 11px;
  line-height: 200%;
  width: 140px;
  word-break: keep-all;
  white-space: normal;
}

.secondary-nav__content img {
  object-fit: cover;
  width: 140px;
  height: 140px;
}

.secondary-nav__content-link {
  font-size: 12px;
  text-transform: uppercase;
}

.secondary-nav .fa-plus {
  display: none;
}

.third-nav__list {
  display: grid;
  row-gap: 12px;
}

.third-nav__list--mod {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: fit-content;
  justify-content: space-between;
  grid-template-columns: 136px 138px;
  column-gap: 4vw;
}

.third-nav__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: none;
  letter-spacing: normal;
}

.third-nav__list-item:hover {
  font-weight: 600;
  text-decoration-line: underline;
  cursor: default;
}


/* ===== End of Products navigation CSS ===== */

main {
  background-color: var(--blue);
  height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  align-items: center;
  position: relative;
  transition: var(--tran-04);
}

main .container-fluid {
  max-width: 1320px;
}

.hero {
  padding: 0 70px;
}

.left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-col h1 {
  font-weight: 700;
  font-size: 150px;
  /* font-size: 9.5vw; */
  color: var(--white);
}

.left-col .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  margin-bottom: 36px;
}

.hero-cta {
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46px;
}

.primary-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  border-radius: 6px;
  padding: 0 20px;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
}

.watch-video-cta {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--black);
  display: flex;
}

.watch-video-cta img {
  margin-right: 8px;
}

.watch-video-cta span {
  width: 120px;
  display: flex;
  align-items: center;
}

.left-col .wrapper {
  display: flex;
  gap: 27px;
}

.card-img {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-img img {
  width: 53px;
}

.card input {
  appearance: none;
}

.card input:checked ~ .card-img {
  background-color: var(--white);
}

.small-item {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.small-item img {
  width: 53px;
}

.bg-white {
  background-color: var(--white);
}

/* ===== Right Column CSS ===== */
.right-col {
  display: flex;
  align-items: flex-end;
}

.active-thumbnail {
  background-color: var(--white);
}

.large-item {
  display: flex;
  align-items: center;
}

.large-item .main-img {
  width: 100%;
  height: auto;
  z-index: 2;
}

.large-item .main-text-color {
  width: 25%;
  position: relative;
  right: 13%;
}

.checkbox {
  top: 0;
  right: 0;
  position: absolute;
  height: calc(100vh - 70px);
  width: calc((100vw - 1300px)/2);
}

.radio {
  position: absolute;
  right: calc(50% + 10px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: var(--white);
  line-height: 6px;
}



@media screen and (max-width: 991px) {

  body.active {
    overflow: hidden;
  }

  main {
    height: unset;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  main .container-fluid {
    max-width: 700px;
  }

  .primary-nav-left {
    display: flex;
  }

  .logo img {
    width: 150px;
  }

  .primary-nav-right a:first-child {
    display: none;
  }
  
  /* Hamburger menu design */
  .hamburger {
    display: block;
    width: 28px;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  }
  .hamburger .bar,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    margin: 6px 0px;
    transition: var(--tran-04);
  }
  .hamburger.active::before {
    transform: rotate(45deg) translate(4px, 8px);
  }
  .hamburger.active::after {
    transform: rotate(-45deg) translate(5px, -9px);
  }
  .hamburger.active .bar {
    opacity: 0;
  }
  /* End of Hamburger menu design */
  
  .mobile {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    min-height: 303px;
    opacity: 0;
    padding: 40px 60px 30px;
    margin: 0;
    z-index: -1;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    transition: var(--tran-10);
    overflow-y: auto;
  }

  .mobile.active {
    top: 70px;
    transition: var(--tran-04);
    opacity: 1;
  }

  .mobile .primary-nav__list {
    flex-direction: column;
    justify-content: space-around;
    row-gap: 19px;
    width: 100%;
    height: fit-content;
  }

  .mobile .primary-nav__subhead {
    justify-content: space-between;
    height: auto;
    padding: 16px 0;
  }
  
  .mobile .primary-nav__subhead:hover,
  .mobile .primary-nav__subhead.open {
    border-bottom: unset;
    color: #000000a0;
  }

  /* ===== Secondary mobile navigation CSS ===== */

  .mobile .secondary-nav {
    position: fixed;
    left: -110vw;
    top: 70px;
    width: 100vw;
    /* height: fit-content; */
    min-height: 303px;
    margin: 0;
    transition: var(--tran-04);
    background-color: var(--white);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .mobile .secondary-nav.open {
    left: 0;
    transition: var(--tran-04);
  }

  .mobile .secondary-nav__subhead-show {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .2em;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--black);
    padding: 15px 0;
    text-align: center;
    width: 100vw;
    cursor: pointer;
  }

  .mobile .secondary-nav__inner {
    all: unset;
  }

  .mobile .secondary-nav__inner {
    display: block;
    height: fit-content;
    padding: 30px 60px;
    overflow: hidden;
    transition: var(--tran-04);
  }

  .mobile .secondary-nav.open .secondary-nav__inner {
    position: unset;
    top: unset;
    left: 0;
    width: unset;
    opacity: 1;
    background-color: unset;
    transition: var(--tran-10);
  }

  .mobile .secondary-nav__list {
    overflow: hidden;
  }

  .mobile .secondary-nav__list.open {
    margin-bottom: 15px;
  }

  .mobile .secondary-nav__subhead {
    font-size: 14px;
    margin: 0;
    padding: 16px 0;
    border-bottom: 1px solid var(--grey);
    cursor: pointer;
  }

  /* ===== Inspiration block ===== */

  .secondary-nav__content:nth-child(4) {
    grid-column: span 2;
  }

  .mobile .secondary-nav__inner--mod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .mobile .secondary-nav__content--mod {
    display: none
  }

  .mobile .secondary-nav__content-header {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .mobile .secondary-nav__content-desc {
    font-size: 11px;
    line-height: 200%;
    width: 140px;
    word-break: keep-all;
    white-space: normal;
  }

  .mobile .secondary-nav__content img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

  .mobile .secondary-nav__content-link {
    font-size: 12px;
    text-transform: uppercase;
  }

  .secondary-nav .fa-plus {
    display: none;
  }

  .third-nav__list {
    display: grid;
    row-gap: 12px;
  }

  .third-nav__list--mod {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    justify-content: space-between;
    grid-template-columns: 136px 138px;
    column-gap: 4vw;
  }

  .mobile .secondary-nav__subhead .fa-plus,
  .mobile .secondary-nav__subhead .fa-minus {
    font-size: 16px;
    display: block;
  }
  
  .mobile .fa-chevron-right {
    display: block;
    font-size: 16px;
    left: 10px;
    transition: var(--tran-04);
  }

  .mobile .fa-chevron-right::before {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  .fa-rotate-90 {
    transition: var(--tran-04);
  }

  .mobile .third-nav__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 0;
    transition: var(--tran-05);
  }

  .mobile .third-nav__list-item {
    font-size: 14px;
    line-height: 150%;
  }

  .third-nav__list-item:hover {
    font-weight: 600;
    text-decoration-line: underline;
    cursor: default;
  }

  /* ===== End of Products navigation CSS ===== */

  .left-col {
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
  }

  .left-col .wrapper {
    display: none;
  }

  .left-col h1 {
    font-weight: 700;
    /* font-size: 150px; */
    font-size: 15vw;
    color: var(--white);
  }

  .right-col {
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .checkbox {
    text-align: center;
    top: unset;
    right: unset;
    position: unset;
    height: auto;
    width: 100%;
  }
  
  .radio {
    position: unset;
    right: unset;
    top: unset;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
    color: var(--white);
    line-height: 6px;
  }

  .large-item {
    display: flex;
    position: relative;
  }
  
  .large-item .main-img {
    width: 100%;
    height: auto;
    z-index: 2;
    padding-right: 50px;
  }
  
  .large-item .main-text-color {
    height: 100%;
    position: absolute;
    right: 0;
  }

}


@media only screen and (max-width: 550px) {

  .header__container {
    padding: 0 30px;
  }

  .mobile,
  .mobile .secondary-nav__inner {
    padding: 30px 30px;
  }

  .secondary-nav__content:nth-child(4) {
    grid-column: unset;
  }

  .mobile .secondary-nav__inner--mod {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .mobile .secondary-nav__content img {
    object-fit: cover;
    width: auto;
    height: 200px;
  }

  .hero {
    padding: 0 20px;
  }

  .hero-cta {
    display: flex;
    justify-content: space-evenly;
  }

  .primary-cta {
    width: 250px;
  }

  .watch-video-cta img {
    margin: 0;
  }

  .watch-video-cta span {
    display: none;
  }
}